$smarthome-gui-black-primary: mat-palette($mat-grey, 700, 300, 900);
$smarthome-gui-black-accent: mat-palette($mat-blue-grey, 400);
$smarthome-gui-black-warn: mat-palette($mat-red, 500);

$smarthome-gui-black-theme: mat-dark-theme(
    $smarthome-gui-black-primary,
    $smarthome-gui-black-accent,
    $smarthome-gui-black-warn
);
