<div class="row">
  <div class="col-md-3 p-3">
    <div class="container">
      <div class="input-group search mb-2">
        <input (keyup)="onSearchFieldChange($event)" type="text" class="form-control search-input"
               placeholder="Suche..."/>
        <div class="input-group-append">
          <span class="input-group-text fa fa-search search-icon"></span>
        </div>
      </div>
      <div cdkDropList id="menuListHtml" [cdkDropListData]="menuList" [cdkDropListConnectedTo]="['weekMenuListHtml']"
           class="item-list">
        <div class="item-box" *ngFor="let item of menuList" cdkDrag
             (click)="menuItemClicked(item.id)">{{item.name}}</div>
      </div>
    </div>
  </div>
  <div class="col-md-9 p-3">
    <div class="container-fluid">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>Wochenplan</ng-template>
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-md-8">
                <div cdkDropList id="weekMenuListHtml" [cdkDropListData]="weekList" class="item-list mt-3"
                     (cdkDropListDropped)="drop($event)">
                  <div class="item-box item-box-small" (click)="showIngredients(item.id)"
                       *ngFor="let item of weekList; let i = index" cdkDrag>{{item.name}}
                    <div class="input-group-append">
                      <button type="button" class="btn btn-secondary" (click)="deleteItem(i)">
                        <span class="fa fa-close close-icon"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <ul class="list-group-flush mt-3">
                  <li class="list-group-item"
                      *ngFor="let ingredient of ingredients">{{ingredient.amount}} {{ingredient.unitOfMeasure}}
                    {{ingredient.name}}</li>
                </ul>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Einstellungen</ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-3">
              <div class="col-md-8">
                <form [formGroup]="weekMenuFormGroup" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <input type="text" formControlName="name" class="form-control" name="name"
                           [ngClass]="{ 'is-invalid': submitted && form.name.errors }" placeholder="Menüname"/>
                    <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                      <div *ngIf="form.name.errors.required">Es muss ein Menüname angegeben werden.</div>
                    </div>
                  </div>
                  <div formArrayName="ingredients">
                    <div *ngFor="let ingredient of ingredientsFormGroup.controls; let i = index;">
                      <div [formGroupName]="i">
                        <div class="row">
                          <div class="form-group col-md-7">
                            <input type="text" formControlName="name" class="form-control" name="name"
                                   [ngClass]="{ 'is-invalid': submitted && ingredient.get('name').errors }"
                                   placeholder="Zutat"/>
                            <div *ngIf="submitted && ingredient.get('name').errors" class="invalid-feedback">
                              <div *ngIf="ingredient.get('name').errors.required">Es muss ein Name für die Zutat
                                eingegeben werden.
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <input type="text" formControlName="amount" class="form-control" name="amount"
                                   [ngClass]="{ 'is-invalid': submitted && ingredient.get('amount').errors }"
                                   placeholder="Menge"/>
                            <div *ngIf="submitted && ingredient.get('amount').errors" class="invalid-feedback">
                              <div *ngIf="ingredient.get('amount').errors.required">Es muss eine Menge angegeben
                                sein.
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <select class="form-control" [ngClass]="{ 'is-invalid': submitted &&
                            ingredient.get('unitOfMeasure').errors }" formControlName="unitOfMeasure"
                                    name="unitOfMeasure">
                              <option *ngFor="let unitOfMeasure of unitOfMeasureValues"
                                      [value]="unitOfMeasure.value">{{unitOfMeasure.viewValue}}</option>
                            </select>
                            <div *ngIf="submitted && ingredient.get('unitOfMeasure').errors" class="invalid-feedback">
                              <div *ngIf="ingredient.get('unitOfMeasure').errors.required">Es muss eine Einheit
                                angegeben werden.
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-1">
                            <button type="button" class="btn btn-secondary"
                                    (click)="removeIngredientItem(i)"
                                    [disabled]="removeIngredientButtonDisabled"><i class="fa-lg red fa fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" [hidden]="editMenuButtonHidden" class="btn btn-secondary mr-1"
                          (click)="editMenu()">
                    <i class="fa-lg green fa fa-edit"></i></button>
                  <button type="button" [hidden]="addMenuButtonHidden" class="btn btn-secondary mr-1" (click)="addMenu()">
                    <i class="fa-lg green fa fa-plus"></i></button>
                  <button type="button" [hidden]="addIngredientButtonHidden" class="btn btn-secondary mr-1"
                          (click)="addIngredient()">
                    <i class="fa-lg green fa fa-plus-circle"></i></button>
                  <button type="button" [hidden]="abortEditingButtonHidden" class="btn btn-secondary mr-1" (click)="abortEditing()">
                    <i class="fa-lg red fa fa-times"></i></button>
                  <button type="submit" [hidden]="saveMenuButtonHidden" class="btn btn-secondary mr-1">
                    <i class="fa-lg green fa fa-save"></i></button>
                </form>
                <div *ngIf="errorOnSave" class="red mt-2">
                  Ups, da ist beim Speichern etwas schief gelaufen.
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
