<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home">Smarthome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/shoppingList">Einkaufsliste<span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/weekMenus">Wochenmenüs<span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/weather">Wetter<span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/flowsers">Blumen<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

